<div class="pageheader">
    <h2>Blank Page</h2>
    <p class="description">Blank starter page</p>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li class="active">Blank Page</li>
        </ol>
    </div>
</div>
<section id="main-content">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="panel-heading form-inline">
                <div class="form-group">
                    <select class="form-control" ng-model="depart"  ng-options="code as code for (code, name)  in partment" ng-change="change()">
                        <option value="">请选择部门</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" ng-model="name"  ng-options="name for name  in partment[depart]" ng-change="change()">
                        <option value="">请选择成员</option>
                    </select>
                </div>
                <div class="actions pull-right">
                    <i data-fullscreen-widget class="fa fa-expand"></i>
                    <i data-widget-toggle class="fa fa-chevron-down"></i>
                    <a href="" ui-sref="course.list"><i class="fa fa-th-list"></i></a>
                    <i data-widget-close class="fa fa-times"></i>
                </div>
            </div>
        </div>
    </div>
</section>